admin/master/homegear/nodeBlue/flows.json
[{"disabled":false,"id":"16b8f3b3.70f00","info":"","label":"Rollladen","namespace":"tab","type":"tab"},{"disabled":false,"id":"7dd1a9b8.f35318","info":"","label":"Alarm","namespace":"tab","type":"tab"},{"disabled":false,"id":"10a67dff.bebaa2","info":"","label":"Heizung","namespace":"tab","type":"tab"},{"disabled":true,"id":"36886c02.0a3a24","info":"","label":"Notifications","namespace":"tab","type":"tab"},{"channel":"1","family":"254","id":"959301f6.752fa8","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"17","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":130,"y":60,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"c41ab86d.3c66b","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"17","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":110,"y":100,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"28ac74f.32b7a0c","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"18","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":125,"y":140,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"8bb22b48.2be908","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"18","peername":"JA Rollladen links Kind","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":185,"y":180,"z":"16b8f3b3.70f00"},{"changes-only":false,"channel":"1","family":"254","id":"ea51d9b4.958d7","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"19","peername":"JA Rollladen rechts Kind","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":200,"y":220,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"7912558e.20c434","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"19","peername":"JA Rollladen rechts Kind","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":185,"y":260,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"a2693c4e.b2325","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"20","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":125,"y":300,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"b57ac30.497e34","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"20","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":110,"y":340,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"7f096ce1.34fe44","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"21","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":125,"y":380,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"dbb3a01d.fe2cc","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"21","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":110,"y":420,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"b010c72e.e40508","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"22","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":125,"y":460,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"539f3bc7.69bebc","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"22","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":110,"y":500,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"18206481.fa6c63","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"23","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":125,"y":540,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"19cfde9e.e6cd39","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"23","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":110,"y":580,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"4c840e2a.03b528","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"24","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":125,"y":620,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"5699fc5b.fe83a4","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"24","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0}]],"x":110,"y":660,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"5aa374b4.ef293c","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"25","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":125,"y":700,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"9226c28.e7fbec","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"25","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":115,"y":740,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"9852372a.faf2e","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"26","refractoryperiod":"0","type":"variable-in","variable":"DOWN","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":125,"y":780,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"f0f92745.388048","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"26","refractoryperiod":"0","type":"variable-in","variable":"UP","variabletype":"device","wires":[[{"id":"8f9c9210.82e3e","port":0},{"id":"685286d2.baaa2","port":0}]],"x":115,"y":820,"z":"16b8f3b3.70f00"},{"active":false,"complete":"false","console":"debtab","id":"645503c9.59d65c","loglevel":"info","name":"","namespace":"debug","type":"debug","wires":[],"x":1255,"y":440,"z":"7dd1a9b8.f35318"},{"id":"8855d4aa.f356b8","name":"","namespace":"variable","outputonstartup":false,"payload":"1","payloadType":"int","type":"constant","wires":[[{"id":"e3df1905.4bed08","port":0},{"id":"592e6eaf.0fb57","port":0},{"id":"2679bde2.d74442","port":0},{"id":"e0933490.db0a88","port":0},{"id":"d02e02ee.0eca1","port":0},{"id":"d1fbe79e.d9a5d8","port":0},{"id":"e1ef2c00.b6f988","port":0},{"id":"240262eb.33f876","port":0},{"id":"456fe53f.c6dd2c","port":0},{"id":"f075b1bf.37b378","port":0},{"id":"2e581910.b6c176","port":0},{"id":"102799f.9207066","port":0}]],"x":360,"y":390,"z":"7dd1a9b8.f35318"},{"id":"3805c659.074f2a","name":"","namespace":"variable","outputonstartup":false,"payload":"0","payloadType":"int","type":"constant","wires":[[{"id":"e3df1905.4bed08","port":0},{"id":"592e6eaf.0fb57","port":0},{"id":"2679bde2.d74442","port":0},{"id":"e0933490.db0a88","port":0},{"id":"d02e02ee.0eca1","port":0},{"id":"d1fbe79e.d9a5d8","port":0},{"id":"e1ef2c00.b6f988","port":0},{"id":"240262eb.33f876","port":0},{"id":"456fe53f.c6dd2c","port":0},{"id":"f075b1bf.37b378","port":0},{"id":"2e581910.b6c176","port":0},{"id":"102799f.9207066","port":0}]],"x":360,"y":360,"z":"7dd1a9b8.f35318"},{"id":"181da99f.d7e666","name":"","namespace":"variable","outputonstartup":false,"payload":"true","payloadType":"bool","type":"constant","wires":[[{"id":"2e96a8e6.82036","port":0}]],"x":110,"y":60,"z":"7dd1a9b8.f35318"},{"id":"dd4db927.a92bc","name":"","namespace":"variable","outputonstartup":false,"payload":"false","payloadType":"bool","type":"constant","wires":[[{"id":"2e96a8e6.82036","port":0}]],"x":110,"y":90,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"e3df1905.4bed08","name":"","namespace":"variable","peerid":"69","peername":null,"type":"variable-out","variable":"DOORHANDLE","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":635,"y":340,"z":"7dd1a9b8.f35318"},{"channel":"0","id":"e6ff0fd1.7a8f58","name":"","namespace":"variable","peerid":"0","peername":null,"type":"variable-out","variable":"WINDOWALARM","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":640,"y":220,"z":"7dd1a9b8.f35318"},{"channel":"0","id":"a86783eb.8c24c","name":"","namespace":"variable","peerid":"0","peername":null,"type":"variable-out","variable":"WINDALARM","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":625,"y":190,"z":"7dd1a9b8.f35318"},{"channel":"0","id":"2e96a8e6.82036","name":"","namespace":"variable","peerid":"0","peername":null,"type":"variable-out","variable":"RAINALARM","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":625,"y":160,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"592e6eaf.0fb57","name":"","namespace":"variable","peerid":"60","peername":null,"type":"variable-out","variable":"WINDOWCONTACT1","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":650,"y":420,"z":"7dd1a9b8.f35318"},{"id":"34a3a9a.e3d5056","name":"","namespace":"variable","outputonstartup":false,"payload":"true","payloadType":"bool","type":"constant","wires":[[{"id":"a86783eb.8c24c","port":0}]],"x":110,"y":150,"z":"7dd1a9b8.f35318"},{"id":"533e0c1.6df4ef4","name":"","namespace":"variable","outputonstartup":false,"payload":"false","payloadType":"bool","type":"constant","wires":[[{"id":"a86783eb.8c24c","port":0}]],"x":110,"y":180,"z":"7dd1a9b8.f35318"},{"id":"ba465f34.d946e8","name":"","namespace":"variable","outputonstartup":false,"payload":"true","payloadType":"bool","type":"constant","wires":[[{"id":"e6ff0fd1.7a8f58","port":0}]],"x":110,"y":230,"z":"7dd1a9b8.f35318"},{"id":"d7508332.95c7d8","name":"","namespace":"variable","outputonstartup":false,"payload":"false","payloadType":"bool","type":"constant","wires":[[{"id":"e6ff0fd1.7a8f58","port":0}]],"x":110,"y":260,"z":"7dd1a9b8.f35318"},{"id":"bff492d2.5c873","name":"","namespace":"variable","outputonstartup":false,"payload":"true","payloadType":"bool","type":"constant","wires":[[{"id":"2e96a8e6.82036","port":0},{"id":"a86783eb.8c24c","port":0},{"id":"e6ff0fd1.7a8f58","port":0}]],"x":390,"y":40,"z":"7dd1a9b8.f35318"},{"id":"4c2457e1.5f8df","name":"","namespace":"variable","outputonstartup":false,"payload":"false","payloadType":"bool","type":"constant","wires":[[{"id":"2e96a8e6.82036","port":0},{"id":"a86783eb.8c24c","port":0},{"id":"e6ff0fd1.7a8f58","port":0}]],"x":390,"y":70,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"2679bde2.d74442","name":"","namespace":"variable","peerid":"63","peername":null,"type":"variable-out","variable":"WINDOWHANDLE3","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":510,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"e0933490.db0a88","name":"","namespace":"variable","peerid":"64","peername":null,"type":"variable-out","variable":"WINDOWHANDLE4","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":540,"z":"7dd1a9b8.f35318"},{"id":"d393732f.374ec","name":"","namespace":"variable","outputonstartup":false,"payload":"2","payloadType":"int","type":"constant","wires":[[{"id":"e0933490.db0a88","port":0},{"id":"2679bde2.d74442","port":0},{"id":"e3df1905.4bed08","port":0},{"id":"d1fbe79e.d9a5d8","port":0},{"id":"e1ef2c00.b6f988","port":0},{"id":"240262eb.33f876","port":0},{"id":"456fe53f.c6dd2c","port":0},{"id":"f075b1bf.37b378","port":0},{"id":"2e581910.b6c176","port":0},{"id":"d02e02ee.0eca1","port":0}]],"x":360,"y":420,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"d02e02ee.0eca1","name":"","namespace":"variable","peerid":"87","peername":null,"type":"variable-out","variable":"WINDOWHANDLE8","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":660,"z":"7dd1a9b8.f35318"},{"id":"1bd90a3d.eec156","name":"","namespace":"variable","outputonstartup":false,"payload":"1","payloadType":"int","type":"constant","wires":[[{"id":"d02e02ee.0eca1","port":0}]],"x":360,"y":600,"z":"7dd1a9b8.f35318"},{"id":"879c11b7.6d322","name":"","namespace":"variable","outputonstartup":false,"payload":"0","payloadType":"int","type":"constant","wires":[[{"id":"d02e02ee.0eca1","port":0}]],"x":360,"y":570,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"a074a490.f0b3b","name":"","namespace":"variable","peerid":"70","peername":"Fenster Wohnen","type":"variable-out","variable":"COLOR","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":610,"y":730,"z":"7dd1a9b8.f35318"},{"id":"8f9eecd9.f7336","name":"","namespace":"variable","outputonstartup":false,"payload":"#0000ff","payloadType":"string","type":"constant","wires":[[{"id":"a074a490.f0b3b","port":0}]],"x":110,"y":710,"z":"7dd1a9b8.f35318"},{"id":"9b2a7455.8a0208","name":"","namespace":"variable","outputonstartup":false,"payload":"#00ff00","payloadType":"string","type":"constant","wires":[[{"id":"a074a490.f0b3b","port":0}]],"x":110,"y":760,"z":"7dd1a9b8.f35318"},{"id":"2ab12391.56b4a4","name":"","namespace":"variable","outputonstartup":false,"payload":"#ff0000","payloadType":"string","type":"constant","wires":[[{"id":"a074a490.f0b3b","port":0}]],"x":110,"y":810,"z":"7dd1a9b8.f35318"},{"func":"if ( isset($message['payload']) ) {\n    \n    $value = $hg->getValue($message['peerId'], $message['channel'], 'LEVEL');\n    \n    if ( $message['variable'] == 'UP' ) {\n        $value = $value + 10;\n        if ( $value > 100 ) {\n            $value = 100;\n        }\n    }\n    if ( $message['variable'] == 'DOWN' ) {\n        $value = $value - 10;\n        if ( $value < 0 ) {\n            $value = 0;\n        }\n    }\n    \n    $hg->setValue($message['peerId'], $message['channel'], 'LEVEL', $value);\n    \n    output(0, array('payload' => $value));\n}","id":"8f9c9210.82e3e","inputs":1,"name":"","namespace":"function","noerr":0,"outputs":1,"type":"function","wires":[[{"id":"685286d2.baaa2","port":0}]],"x":560,"y":390,"z":"16b8f3b3.70f00"},{"active":false,"complete":"true","console":"tabcon","id":"685286d2.baaa2","loglevel":"info","name":"","namespace":"debug","type":"debug","wires":[],"x":770,"y":390,"z":"16b8f3b3.70f00"},{"channel":"1","family":"254","id":"d1fbe79e.d9a5d8","name":"","namespace":"variable","peerid":"88","peername":null,"type":"variable-out","variable":"DOORLOCK","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":625,"y":370,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"e1ef2c00.b6f988","name":"","namespace":"variable","peerid":"61","peername":null,"type":"variable-out","variable":"WINDOWHANDLE1","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":450,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"240262eb.33f876","name":"","namespace":"variable","peerid":"62","peername":null,"type":"variable-out","variable":"WINDOWHANDLE2","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":480,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"456fe53f.c6dd2c","name":"","namespace":"variable","peerid":"65","peername":null,"type":"variable-out","variable":"WINDOWHANDLE5","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":570,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"f075b1bf.37b378","name":"","namespace":"variable","peerid":"66","peername":null,"type":"variable-out","variable":"WINDOWHANDLE6","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":600,"z":"7dd1a9b8.f35318"},{"changes-only":false,"channel":"1","eventsource":"all","family":"254","id":"170bde89.07afe1","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"78","peername":"Heating 1","refractoryperiod":"0","type":"variable-in","variable":"CONTROL_MODE","variabletype":"device","wires":[[{"id":"667e5a2a.b15234","port":0}]],"x":180,"y":50,"z":"10a67dff.bebaa2"},{"func":"if ( isset($message['payload']) ) {\n    \n    if ( $message['variable'] == 'CONTROL_MODE' ) {\n        if ( $message['payload'] == 0 ) {\n            // frost\n            $setpointTemperature = 8;\n        }\n        else if ( $message['payload'] == 1 ) {\n            // komfort\n            $setpointTemperature = 21;\n        }\n        else if ( $message['payload'] == 2 ) {\n            // spar\n            $setpointTemperature = 18;\n        }\n    }\n\n    if (isset($setpointTemperature)) {\n        $hg->setValue($message['peerId'], $message['channel'], 'SETPOINT_TEMPERATURE', $setpointTemperature);\n        output(0, array('orgIn' => $message, 'setpointTemperature' => $setpointTemperature));\n    }\n    else {\n        output(0, array('error' => $message));\n    }\n}","id":"667e5a2a.b15234","inputs":1,"name":"","namespace":"function","noerr":0,"outputs":1,"type":"function","wires":[[{"id":"2127b25.b5ae24e","port":0}]],"x":510,"y":180,"z":"10a67dff.bebaa2"},{"active":false,"complete":"true","console":"tabcon","id":"2127b25.b5ae24e","loglevel":"info","name":"","namespace":"debug","type":"debug","wires":[],"x":680,"y":180,"z":"10a67dff.bebaa2"},{"changes-only":false,"channel":"1","eventsource":"all","family":"254","id":"e8ce1d38.68e98","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"79","peername":"Heating 2","refractoryperiod":"0","type":"variable-in","variable":"CONTROL_MODE","variabletype":"device","wires":[[{"id":"667e5a2a.b15234","port":0}]],"x":180,"y":100,"z":"10a67dff.bebaa2"},{"changes-only":false,"channel":"1","eventsource":"all","family":"254","id":"4a5caa54.ebb784","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"80","peername":"Heating 3","refractoryperiod":"0","type":"variable-in","variable":"CONTROL_MODE","variabletype":"device","wires":[[{"id":"667e5a2a.b15234","port":0}]],"x":180,"y":150,"z":"10a67dff.bebaa2"},{"changes-only":false,"channel":"1","eventsource":"all","family":"254","id":"bb5ef53.425cd08","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"81","peername":"Heating 4","refractoryperiod":"0","type":"variable-in","variable":"CONTROL_MODE","variabletype":"device","wires":[[{"id":"667e5a2a.b15234","port":0}]],"x":180,"y":200,"z":"10a67dff.bebaa2"},{"changes-only":false,"channel":"1","eventsource":"all","family":"254","id":"f4cd676a.5337c8","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"82","peername":"Heating 5","refractoryperiod":"0","type":"variable-in","variable":"CONTROL_MODE","variabletype":"device","wires":[[{"id":"667e5a2a.b15234","port":0}]],"x":180,"y":250,"z":"10a67dff.bebaa2"},{"changes-only":false,"channel":"1","eventsource":"all","family":"254","id":"83787ef8.7d9a","loopprevention":false,"looppreventiongroup":"","name":"","namespace":"variable","outputonstartup":false,"peerid":"83","peername":"Heating 6","refractoryperiod":"0","type":"variable-in","variable":"CONTROL_MODE","variabletype":"device","wires":[[{"id":"667e5a2a.b15234","port":0}]],"x":180,"y":300,"z":"10a67dff.bebaa2"},{"channel":"1","family":"254","id":"2e581910.b6c176","name":"","namespace":"variable","peerid":"70","peername":null,"type":"variable-out","variable":"WINDOWHANDLE7","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":645,"y":630,"z":"7dd1a9b8.f35318"},{"channel":"1","family":"254","id":"102799f.9207066","name":"","namespace":"variable","peerid":"67","peername":null,"type":"variable-out","variable":"DOORCONTACT","variabletype":"system","wires":[[{"id":"645503c9.59d65c","port":0}]],"x":635,"y":310,"z":"7dd1a9b8.f35318"},{"active":true,"complete":"true","console":"debtab","id":"5de329a.96c8fd8","loglevel":"info","name":"","namespace":"debug","type":"debug","wires":[],"x":810,"y":220,"z":"36886c02.0a3a24"}]